@font-face {
    font-family: "Graphik medium";
    src: url(../fonts/Graphik-Medium.ttf);
}

@font-face {
    font-family: "Graphik regular";
    src: url(../fonts/Graphik-Regular.woff);
}

@font-face {
    font-family: "TiemposHeadline";
    src: url(../fonts/TiemposHeadline-Semibold.woff);
}

@font-face {
    font-family: "Theinhardt";
    src: url(../fonts/Theinhardt-Lt.woff);
}

/* ASSETS
Farben: #2B2C2E /  #9FA2A7 / #27282A /  #848689 / #3D3E41 / #fff

font-family: "Theinhardt", sans-serif;
font-family: "TiemposHeadline", sans-serif;
font-family: "Graphik regular", sans-serif;
font-family: "Graphik medium", sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

h1 {
    font-family: "TiemposHeadline", sans-serif;
    font-size: 7rem;
}

h2 {
    font-family: "Graphik medium", sans-serif;
    font-size: 2.8rem;
}

.standardText {
    font-family: "Theinhardt", sans-serif;
    font-size: 2.5rem;
    color: #9fa2a7;
}


/* ======================
Header Styling
========================= */

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vw;
    font-size: 1.5rem
}

#nav nav ul {
    display: flex;
    gap: 1vw;
    list-style: none;
    font-family: "Graphik regular", sans-serif;
}

#nav p {
    font-family: "TiemposHeadline", sans-serif;
    font-size: 2.5rem;
}

#nav button {
    font-family: "Graphik medium", sans-serif;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 5px 30px;
}

#hero p {
    font-family: "Graphik regular", sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin: 7vh 0;
}

#hero img {
    width: 100%;
}

#hero article {
    display: flex;
    margin: 20vh 0;
}

#hero div p {
    display: block;
    line-height: 1.4;
    font-size: 2.3rem;
    text-align: left;
    margin: 0;
}

#hero article div:first-child {
    margin: 0 3vw 0 7vw;
    flex-basis: 57%;
}

#hero article div:first-child p {
    font-family: "Graphik medium", sans-serif;
}

#hero article div:last-child {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 10vh;
    flex-basis: 10%;
}

#hero article div:last-child p {
    font-family: "Theinhardt", sans-serif;
}

#hero article div:nth-of-type(2) p:nth-of-type(1) {
    font-size: 5rem;
}

#hero article div:nth-of-type(2) p:nth-of-type(2) {
    font-size: 1.3rem;
    margin: 0.5vh 0 0 0;
    color: #9fa2a7;
}


/* ======================
Main Styling
========================= */

/* ===========Section deliverables=========== */

#deliverables {
    display: flex;
    justify-content: center;
}

#deliverables div:first-child {
    flex-basis: 40%;
}

#deliverables div:last-child {
    margin: 0 0 0 2vw;
    flex-basis: 47%;
}

#deliverables div img {
    width: 100%;
}

#deliverables h1 {
    margin: 0 0 6vh 0;
}

#deliverables h2 {
    margin: 3vh 0;
}

/* ===========Section howItWorks=========== */

#howItWorks {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    margin: 15vh 5vw;
}

#howItWorks div:first-child {
    flex-basis: 50%;
}

#howItWorks div:last-child {
    margin: 0 0 0 2vw;
    flex-basis: 40%;
}

#howItWorks ol {
    padding-left: 4vw;
}

#howItWorks div img {
    position: absolute;
    width: 45%;
    right: 3vw;
}

#howItWorks h1:first-of-type {
    margin: 3vh 0 4vh 0;
    padding: 5vh 0 0 0;
}

#howItWorks p:last-of-type {
    margin: 0vh 0 8vh 0;
}

#howItWorks h2 {
    margin: 3vh 0;
}

/* ===========Section critique=========== */

#critique>div {
    text-align: center;
    padding: 5vh 0 0 0;
}

#bottom {
    position: relative;
}

#bottom div:first-of-type {
    background: url('../img/28.png') center / cover no-repeat;
    padding: 20vh 0;
    margin: 5vh 0 0 0;
}

#bottom>div:nth-of-type(2) p {
    text-align: left;
    position: relative;
    margin: 0 40% 0 15%;
    font-family: "Graphik medium", sans-serif;
    line-height: 2;
}

#bottom>div:nth-of-type(2) div {
    background: url('../img/home_conversion.png') center / 100% no-repeat;
    position: absolute;
    bottom: -17vh;
    right: 5vw;
    padding: 20vh 0;
    width: 45%;
}

/* ===========Section questions=========== */

/* ======================
Footer Styling
========================= */

#footer {
    text-align: center;
    margin: 30vh 5vw 0;
    padding: 10vh 20vw 0;
    border-top: 1px solid red;
}

#footer h1 {
    padding: 0 0 5vh;
}

#footer div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 5vh;
}

#footer div img {
    width: 10vw;
}

#footer a {
    text-decoration: none;
    font-family: "Graphik medium", sans-serif;
    color: #000;
}


/* ======================
Media Queries
========================= */

@media only screen and (max-width:390px) {

    html {
        text-align: center;
    }

    h1 {
        font-size: 4rem;
    }

    #nav {
        display: block;
        text-align: center;
    }

    #nav ul {
        justify-content: space-evenly;
    }

    #nav p {
        margin: 5vh 0;
        font-size: 4rem;
    }

    #nav button {
        padding: 50px 100px
    }

    #hero article {
        display: block;
    }

    #hero article div:first-child p,
    #hero article div:nth-of-type(2) p:nth-of-type(1),
    #hero article div:nth-of-type(2) p:nth-of-type(2) {
        text-align: center;
        margin: 1vh 0;
    }

    #deliverables {
        display: block;
    }

    #deliverables div img {
        text-align: center;
    }

    #howItWorks {
        display: block;
    }

    #howItWorks div img {
        position: relative;
        width: 80%;
        margin: 0 0 5vh 0;
    }

    #bottom div:first-of-type {
        background-size: 100%;
    }
}